.heading {
  display: flex;
  justify-content: space-around;
  margin: 30px 100px 0px 450px;
}

.title {
  color: rgb(0, 174, 255);
  font-family: monospace;
  font-style: oblique;
  font-weight: 600;
  font-size: 70px;
}

.title:hover {
  cursor: default;
}

.button {
  padding: 10px 10px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgb(82, 157, 255);
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.logout {
  width: fit-content;
  height: fit-content;
  margin-top: 60px;
  background-color: rgb(255, 136, 0);
  border: 1px solid orange;
  color: black;
}

.logout:hover {
  cursor: pointer;
  opacity: 0.9;
  background-color: orange;
  color: white;
}
